{{#ripple-animation}}
  {{#paper-item}}
    {{#paper-tile-left}}
      <img src="/img/css3.ico" class="face" width="100px" />
    {{/paper-tile-left}}

    {{#paper-tile-content}}
      <h3>CSS File</h3>
      <h4>ID: {{item.id}}</h4>
      <p>
        URL: {{item.url}}
      </p>
    {{/paper-tile-content}}

    {{#paper-tile-left classNames="md-tile-right"}}
      {{#link-to 'website.css' item}}
        {{#paper-button}}
          {{fa-icon "search" size="lg"}}
        {{/paper-button}}
      {{/link-to}}
    {{/paper-tile-left}}
  {{/paper-item}}
{{/ripple-animation}}

{{paper-divider inset=true classNames="both"}}
