/*
 * Colors
 */
$white: rgba(255, 255, 255, .95);
$blueRipple: rgba(3, 169, 244, .4);

@import 'beautify.scss';
@import 'bootswatch.scss';

/*
 * Paper elements
 */
@import 'ember-paper';

md-content{
  box-shadow: none;
  transition: 1.5s;
}
md-content.colorize{
  background-color: $white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
md-list > div{
  background-color: $white;
}
.paper-item, md-card{
  background-color: $white;
  transition: .8s;
}
md-input-group{
  margin: 0;
}
md-input-group input{
  width: 100%;
}
md-item-content{
  margin-top: -40px;
  opacity: 0;
  transition: .8s;
}
md-item-content.relocateCssListItem{
  margin-top: 0px;
  opacity: 1;
}
.md-tile-right{
  margin-right: 0px;
}
md-divider[md-inset].both {
  margin-left: 80px;
  margin-right: 80px;
}
.progress.divider.both {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-group.divider.both {
  margin-left: 80px;
  margin-right: 80px;
  width: auto;
}
.btn-group-justified > .btn, .btn-group-justified > a > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

/*
 * Ripple effect
 */
.ink {
	display: block; position: absolute;
	background: $blueRipple;
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
/*animation overflow*/
md-item-content{
  overflow: hidden;
}
