/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
  background: #ccc;
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.container {
	text-align: center;
}
#cleaner{
	background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0px;
  margin: 0px;
  transition: 1s;
}
#searchWebsite{
  border-radius: 40px;
  width: 75px;
  height: 75px;
  font-size: 2em;
  line-height: 0em;
}

.flip {
  -webkit-perspective: 800;
  width: 100px;
  height: 100px;
  position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-540deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.8s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatey(-540deg);
}
.flip .card .unknown-icon {
  background-image: url('/img/unknown-icon.png');
}
.flip .card .loading-icon {
  background-image: url('/img/loading-icon.png');
}
.flip .card .css-icon {
  background-image: url('/img/css-icon.png');
}


.errorCard {
  height: auto;
  min-height: 200px;
  background-image: url('/img/error.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  transition: 1s;
  transform: rotate(5deg);
}

.lang-container{
  width: 100%;
  margin-top: -40px;
}
.lang-container button{
  margin: 0 5px;
  float: right;
  border-radius: 25px !important;
  width: 50px;
  height: 50px;
  font-size: 1em;
  line-height: 0em;
  background-color: white !important;
}
.lang-container div:first-child{
  margin-right: 25px;
}
