<h2 id="title">{{t "label.appTitle"}}</h2>

<form:form action="" method="get" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        {{input type='text' value=websiteUrl placeholder='Search...' class="form-control"}}
    </div>
    {{#link-to 'website' websiteUrl class="btn btn-default"}}Submit{{/link-to}}
</form:form>

{{outlet}}
