<div class="container">
  <p>ID: {{model.id}}</p>
  <p>Token: {{api-token 'test'}}</p>
  <br/>
  <p>CSS List:</p>
  {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each css in model.css}}
        {{website-list-item item=css}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}
</div>

<div class="container">
  {{outlet}}
</div>
