<div class="container">
  {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each css in model.css}}
        {{css-list-item item=css openCssData="goToCss" index=_view.contentIndex}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}
</div>

<div class="container">
  {{outlet}}
</div>
