<div class="container">
  {{#view "slide-show-view"}}
    {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
      {{#paper-list}}
        {{#each css in model.css}}
          {{css-list-item item=css openCssData="goToCss" index=_view.contentIndex}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  {{/view}}
</div>

<div class="container">
  {{outlet}}
</div>
